<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="small-2 columns">
      <%= f.label :title, class: "right inline" %>
    </div>
    <div class="small-10 columns">
      <%= f.text_field :title %>
    </div>
  </div>
  <div class="row">
    <div class="small-2 columns">
    <%= f.label :description , class: "right inline" %>
    </div>
    <div class="small-10 columns">
      <%= f.text_area :description %>
    </div>
  </div>
  <div class="row">
    <div class="small-2 columns">
      <%= f.label :priority_id , class: "right inline" %>
    </div>
    <div class="small-10 columns">
      <%= f.number_field :priority_id %>
    </div>
  </div>
  <div class="row">
    <div class="small-10 small-offset-2 columns">
      <%= f.submit %>
    </div>
  </div>
<% end %>
