<% title "Listing tasks" %>
<h1>Listing tasks</h1>

<table>
  <thead>
    <tr>
      <th width="200">Title</th>
      <th width="180">Description</th>
      <th width="180">Priority</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr class="<%= cycle('row_odd', 'row_even') %>">
        <td><%= task.title %></td>
        <td><%= truncate(strip_tags(task.description), length: 40) %></td>
        <td><%= task.priority.name %></td>
        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task', new_task_path, class: "button radius" %>
